/* components/WatchOnDevicesSection.css */

.watch-on-devices {
    padding: 30px;
    background-color: #141414;
    color: white;
    text-align: center;
  }
  
  .watch-on-devices h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .watch-on-devices p {
    font-size: 1rem;
  }
  